body{
    
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
   
}
.main-body{
    height: 300rem;
    width: 100%;
    background-color: white;
    

}
header{
    width: 100%;
    height: 5rem;
    background-color: white;
    display: flex;
}
.header-padding{
    height: 5rem;
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    justify-content: space-between;
    
}
.logo{
    width: 8rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 1;
    padding-bottom: 1rem;
    
}
.logo img{
    height: 80%;
    width: 80%;
}
.menu{
    width: 8rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 1.2rem;
}
p{
    margin: 0;
}


.cover-img{
    display: flex;
    align-items: flex-end;
    height: 30rem;
    width: 100%;
    background-position-y: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(photos/porsche-normal\ \(9\).jpg);
}
.cover-wrt{
    color: white;
    
    margin-left:5rem ;
    margin-bottom: 5rem;
}
.cover-wrt h1{
    margin: 0;
    font-size: 2.5rem;
}
.cover-wrt p{
    margin-left: 2.5rem;
    font-size: 1.4rem;
    
}
.show-cars{
    width: 100%;
    height: 50rem;
    background: white;
}
.show-cars-head{
    width: 100%;
    height: 6rem;
    background: white;
    display: flex;
    align-items: center;
}
.show-cars-head h2{
    margin-left: 6rem;
    font-size: 2.4rem;
}
.show-cars-main{
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;

}
.row1{
    width: 100%;
    height: 50%;
    display: flex;
   
}
.row2{
    width: 100%;
    height: 50%;
    display: flex;
}
.show-cars-blocks-1{
    width: 33.33%;
    height: 100%;
   background-image: url(photos/porsche-1.jpg);
   background-size:cover;
   background-position: center;
    

}
.show-cars-blocks-2{
    width: 33.33%;
    height: 100%;
    background-image: url(photos/porsche-2.jpg);
    background-size:cover;
    background-position: center;
    

}
.show-cars-blocks-3{
    width: 33.33%;
    height: 100%;
    background-image: url(photos/porsche-3.jpg);
    background-size:cover;
    background-position: center;
    

}
.show-cars-blocks-4{
    width: 33.33%;
    height: 100%;
    background-image: url(photos/porsche-4.jpg);
    background-size:cover;
    background-position: center;
    

}
.show-cars-blocks-5{
    width: 33.33%;
    height: 100%;
    background-image: url(photos/porsche=5.jpg);
    background-size:cover;
    background-position: center;
    

}
.show-cars-blocks-6{
    width: 33.33%;
    height: 100%;
    background-image: url(photos/porsche-6.jpg);
   background-size:cover;
   background-position: center;
    

}
.on-top{
    padding-left: 3rem;
    padding-top: 1rem;
    color: white;
}
.car-price{
    margin: 0;
}
.car-name{
    margin: 0;
    font-size: 2rem;
}
.on-bottom{
    margin-top: 11rem;
    display: flex;
    justify-content: center;
}
.build-your-own{
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3rem;
    background: white;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
}
.build-your-own p{
    margin: 0;
}
.all-models{
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    height: 3rem-2px;
    margin-left: 1rem;
    background: transparent;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    border: solid 1px;

}
.show-cars-foot{
    margin: 1rem;
    color: black;
    width: 100%-2rem;
    height: inherit;
}
.buy-one{
    width: 100%;
    height: 36rem;
    background: white;
}
.Each-head{
    padding-left: 6%;
    width: 94%;
    height: 6rem;
    padding-top: 3rem;
}
.Each-head h1{
    margin: 0;
}
.buy-one-cars{
    width: 100%;
    height: 25rem;
    
    display: flex;
    justify-content: space-around;
}
.car-cards{
    padding-top: 2rem;
    width: 30%;
    height:80% ;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.car-pic img{
    width: 100%;
}
.car-model{
    padding: 1rem;
    background: #313639;
    color: white;
    margin: 1rem;
}
.car-model h3{
    margin: 0;
    
}
.tool-imgs{
    padding-left: 5%;
    width: 95%;
    height: 15rem;
    background: white;
    display: flex;
    color: white;
    font-size: 1.2rem;
    
}
.tools-img-1{
    width: 40%;
    background-image: url(photos/tools-img-p.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.tools-img-2{
    width: 16%;
    background-image: url(photos/tools-img-r.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.tools-img-3{
    width: 16%;
    background-image: url(photos/tools-img-y.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
.tools-img-4{
    width: 16%;
    background-image: url(photos/toos-img-x.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
    padding-bottom: 1rem;
    
}
.porsche-social{
    display: flex;
    align-items: center;
    
    
}
.social-imgs{
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    height: 38rem;
    display: flex;
    color: white;
    font-size: 1.2rem;
    display: flex;
}
.set{
    display: flex;
    width: 33%;
    flex-direction: column;
    height: 99%;
    border: solid;
    
}
.inner-1{
    display: flex;
    width: 100%;
    height: 66.2%;
    text-align: end;
    
}
.inner-2{
    display: flex;
    width: 100%;
    height: 33.2%;
    text-align: end;
    

}

.social-img-1{
    width: 100%;
    height: 100%;
    background-image: url(photos/social-1.jpg);
    background-size: cover;
    background-position: center;
    border: solid;
}
.social-img-2{
    width: 50%;
    height: 100%;
    background-image: url(photos/social-2.jpg);
    background-size: cover;
    background-position: center;
    border: solid;
}
.social-img-3{
    width: 50%;
    height: 100%;
    background-image: url(photos/social-3.jpg);
    background-size: cover;
    background-position: center;
    border: solid;

}
.social-img-4{
    width: 100%;
    height: 100%;
    background-image: url(photos/social-4.jpg);
    background-size: cover;
    background-position: center;
    border: solid;

}
.social-img-5{
    width: 50%;
    height: 100%;
    background-image: url(photos/social-5.jpg);
    background-size: cover;
    background-position: center;
    border: solid;

}
.social-img-6{
    width: 50%;
    height: 100%;
    background-image: url(photos/social-6.jpg);
    background-size: cover;
    background-position: center;
    border: solid;

}

.social-img-7{
    width: 100%;
    height: 100%;
    background-image: url(photos/social-7.jpg);
    background-size: cover;
    background-position: center;
    border: solid;

}
.social-img-8{
    width: 50%;
    height: 100%;
    background-image: url(photos/social-8.jpg);
    background-size: cover;
    background-position: center;
    border: solid;

}
.social-img-9{
    width: 50%;
    height: 100%;
    border: solid;
    background-image: url(photos/social-9.jpg);
    background-size: cover;
    background-position: center;

}
.social-icon-2{
    margin-top: 11rem;
    margin-right: 1rem;
    
}
.social-icon{
    margin-top: 23rem;
    margin-right: 1rem;
}
.load-more{
    text-align: end;
    width: inherit;
    margin-left:65rem ;
    text-align: center;
    margin-right: 2rem;
}
.load-more p{
    margin: 2rem;
    padding: 1rem;
    background-color: black;
    color: white;
}
.discover-img-1{
    width: 22%;
    background-image: url(photos/too.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
    padding-bottom: 1rem;

}
.discover-img-2{
    width: 22%;
    background-image: url(photos/porsche-normal\ \(10\).jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.discover-img-3{
    width: 23%;
    background-image: url(photos/porsche-normal\ \(11\).jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.discover-img-4{
    width: 23%;
    background-image: url(photos/b6a51ed35d2e92622d22ef4138011c80b3b98b22cd7013b15682a7e1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.discover-wrt{
    display: flex;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 8rem;
    padding-bottom: 5rem;
}
footer{
    display: flex;
    justify-content: space-around;
    height: 50rem;
}
footer p{
    margin: 1rem;
}
.para-1{
    display: flex;
    flex-direction: column;
    
    
}
.para-2{
    display: flex;
    flex-direction: column;
    
    
}
.para-3{
    display: flex;
    flex-direction: column;
    
}
.para-4{
    display: flex;
    flex-direction: column;
    
    
    
}
.share-page{
    background:black;
    color: white;
}
.sites{
    display: flex;
    
    
}
.sites-icons{
    margin: 0.4rem;
    font-size: 3rem;
}
.location{
    width: 90%;
    padding-top:0.5rem ;
    padding-left: 5%;
    padding-right: 5%;
    height: 20rem;
    background-color: #191f22;
    color: white;
}
.location-input{
    width: 30rem;
    height: 5rem;
    display: flex;

}
#input-1{
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    color: white;
    background-color:#313639 ;
}
#input-2{
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    color: gray;
    background-color:#313639 ;

}
